<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="shortcut icon" type="image/x-icon" href="/resources/images/favicon.png">
      <title>PetClinic :: a Spring Framework demonstration</title>
      <link href="/resources/css/petclinic.css" rel="stylesheet">
      <link href="/webjars/jquery-ui/1.11.4/jquery-ui.min.css" rel="stylesheet">
      <link href="/webjars/jquery-ui/1.11.4/jquery-ui.theme.min.css" rel="stylesheet">
   </head>
   <body>
      <div class="container-fluid">
         <div class="container xd-container">
            <h2>
               <span th:if="${lineup['new']}">New </span>Lineup
            </h2>
            <form id="add-lineup-form" class="form-horizontal" th:action="${lineup['new']} ? @{/leagues/}+${leagueId}+@{/teams/}+${teamId}+@{/newLineup} : @{/leagues/}+${leagueId}+@{/teams/}+${teamId}+@{/editLineup/}+${lineupId}" th:object="${lineup}" method="post">
               <div class="form-group has-feedback">
                  <input type="hidden" name="id" th:value="${lineup.id}"/>
	            <input type="hidden" name="category" th:value="${lineup.category}"/>
	            <input type="hidden" name="league" th:value="${leagueId}"/>
	            <input type="hidden" name="team" th:value="${teamId}"/>
	            <input type="hidden" name="gp.id" th:value="${lineup.gp.id}"/>
                <h4>Date: <span th:text="${lineup.gp.date0}"></span> </h4>
            	<h4> Place: <span th:text="${lineup.gp.site}"></span> </h4>
            	<h4>Circuit: <span th:text="${lineup.gp.date0}"></span></h4>
                  <div class="control-group">
                     <div class="form-group ">
                        <label class="col-sm-2 control-label">Recruit1</label>
                        <div class="col-sm-10">
                        
                           <select class="form-control" id="recruit1" name="recruit1" size="5">
                              <option th:if="${lineup['new']}" th:each="i : ${recruitsSelection}" th:value="${i}"
                              th:text="${#strings.substring(i, 0, #strings.length(i)-3)}">
                              </option>
                              <option th:unless="${lineup['new']}" th:each="i : ${recruitsSelection}" th:value="${i}"
                              th:text="${#strings.substring(i, 0, #strings.length(i)-3)}" th:selected="${i.id==lineup.recruit1.id}">
                              </option>
                              
                           </select>
                           <span class="help-inline" th:errors="*{recruit1}">Errores Recruit 1...</span>
                        </div>
                     </div>
                     <div class="form-group ">
                        <label class="col-sm-2 control-label">Recruit2</label>
                        <div class="col-sm-10">
                           <select class="form-control" id="recruit2" name="recruit2" size="5">
                           
                              <option th:if="${lineup['new']}" th:each="i : ${recruitsSelection}" th:value="${i}"
                              th:text="${#strings.substring(i, 0, #strings.length(i)-3)}">
                              </option>
                              <option th:unless="${lineup['new']}" th:each="i : ${recruitsSelection}" th:value="${i}"
                              th:text="${#strings.substring(i, 0, #strings.length(i)-3)}" th:selected="${i.id==lineup.recruit2.id}">
                              </option>
                              
                           </select>
                           <span class="help-inline" th:errors="*{recruit2}">Errores Recruit 2...</span>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="form-group">
                  <div class="col-sm-offset-2 col-sm-10">
                     <button class="btn btn-default" type="submit"><span th:text="${lineup['new']} ? 'Add Lineup' : 'Update Lineup'"></span></button>
                  </div>
               </div>
            </form>
         </div>
      </div>
   </body>
</html>